<h2> Please Create Account Below: </h2>

<form action="/users/" method="POST">
  <p>Name: <input type="text" name="user[username]"></p>
  <p>Email: <input type="text" name="user[email]"></p>
  <p>Password: <input type="password" name="user[password]"></p>
  <input type="submit" value="Create Account">
</form>
<br></br>
<p><a href="/login">Log In</a></p>
<p><a href="/">Home</a></p>
