<h2>Edit your account</h2>

<br>
<form action="/users/<%= @user.slug %>" method="POST">
  <input type="hidden" name="_method" value="PATCH">
  <p>Username:
    <input type="text" name="user[username]" value="<%= @user.username %>">
  </p>
  <p>Email:
    <input type="text" name="user[email]" value="<%= @user.email %>">
  </p>
  <p>Password:
    <input type="password" name="user[password]" value="<%= @user.password %>">
  </p>
  <p><input type="submit" value="Edit Account"></p>
</form>
</br>

<p><a href="/logout">Log Out</a></p>
<p><a href="/">Home</a></p>
