<h2> Add a Gift to Your List: </h2>
<br>
<form action="/gifts" method="POST">
  <p>Name:
     <input type="text" name="gift[name]">
   </p>
  <p>Description:
    <input type="text" name="gift[description]">
  </p>
  <input type="submit" name="submit" value="Add Gift">
</form>
</br>

<br></br>
<p><a href="/logout">Log Out</a></p>
<p><a href="/">Home</a></p>
