<h2> Edit Gift </h2>

<form action="/gifts/<%= @gift.slug %>" method="POST">
  <p>
    <input type="hidden" name="_method" value="PATCH">
  </p>
  <p>Name:
    <input type="text" name="gift[name]" value="<%= @gift.name %>">
  </p>
  <p>Description:
    <input type="text" name="gift[description]" value="<%= @gift.description %>">
  </p>
  <p><input type="submit" value="Update Gift"></p>
</form>


<br></br>
<p><a href="/logout">Log Out</a></p>
<p><a href="/users/<%= current_user.slug %>/gifts"> Back to My Gift Journal </a>
<p><a href="/">Home</a></p>
